<clr-modal [clrModalOpen]="true">
  <h3 class="modal-title">Contar Produto:</h3>

  <div class="modal-body">
    <clr-alert [clrAlertSizeSmall]="true" [clrAlertClosable]="false"
[clrAlertType]="'warning'" *ngIf="!product?.active">
<clr-alert-item>
<span class="alert-text">Este é um produto inativo</span>
</clr-alert-item>
</clr-alert>
  <p>Atualizando contagem de{{product.name}}?</p>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-outline"
  (click)="cancelCount()">Cancelar</button>
  <button type="button" class="btn btn-danger"
  (click)="confirmCount()">Confirmar</button>
  </div>
  </clr-modal>
