<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu"  aria-label="Menu">
      <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>home</mat-icon>
      <span><a routerLink="/home" routerLinkActive="selected">Home</a></span>
    </button>
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span><a routerLink="/relatorio" routerLinkActive="selected">Relatórios</a></span>
    </button>
  </mat-menu>
    <span>Controle de Inventário App</span>
    <span class="example-spacer"></span>
  </mat-toolbar>

