<form [formGroup]="productForm">
  <clr-wizard #productWizard [clrWizardOpen]="true"
  clrWizardSize="md" (clrWizardOnCancel)="handleClose()">
  <!-- O título do form será de acordo ao que foi solicitado -->
  <clr-wizard-title>{{product && counting? 'Contar Produto'
                    : product? 'Editar Produto':
                     'Adicionar Novo Produto'}}</clr-wizard-title>
  <clr-wizard-button [type]="'cancel'" (click)="handleClose()">Cancelar</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Voltar</clr-wizard-button>
  <clr-wizard-button [clrWizardButtonDisabled]="isBasicInvalid" [type]="'next'">Próximo</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" (click)="handleFinish()">Finalizar</clr-wizard-button>

  <clr-wizard-page>
  <div formGroupName="basic">
    <ng-template clrPageTitle>Inventário de Produto </ng-template>
    <!-- Se estiver contando o produto exibirá essa parte -->
    <div *ngIf="counting">
       <clr-input-container>
        <label >Quantidade inicial =  {{this.product.quant}}</label>
        <label >Quantidade atual =  {{this.newQuant}}</label>
        <label for="product-newQuant">Nova Quantidade</label>
         <input clrInput type="text" id="product-newQuant" formControlName="newQuant"
         placeholder="digite o valor da contagem">

        </clr-input-container>
        <br>
        <div class="example-button-row">
          <button mat-raised-button (click)="this.newQuantMetodo('+')">+</button>

          <button mat-raised-button (click)="this.newQuantMetodo('-')">-</button>

          <!-- <button mat-raised-button (click)="this.newQuantMetodo('*')">x</button> -->
        </div>

      <clr-input-container hidden>

        <label for="product-quant">Quantidade atual</label>

        <input clrInput type="text" id="product-quant" formControlName="quant">

        </clr-input-container>



        <clr-input-container>
          <label for="product-countDate">Data da Contagem</label>
          <input clrInput type="date" id="product-countDate"
          formControlName="countDate">

          </clr-input-container>

    </div>
    <!-- Se estiver não contando o produto exibirá essa parte -->
    <!-- Ou seja para o cadastro ou edição -->
    <div *ngIf="!counting">
      <clr-input-container>
      <label for="product-cod">Código do produto *</label>
      <input clrInput type="text" id="product-cod"
      placeholder="xpto" formControlName="cod">
      <clr-control-error>Esse campo é obrigatório!</clr-control-error>
      </clr-input-container>

    <clr-input-container>
    <label for="product-name">Nome do produto *</label>
    <input clrInput type="text" id="product-name"
    placeholder="produto x..." formControlName="name">
    <clr-control-error>Esse campo é obrigatório!</clr-control-error>
    </clr-input-container>

    <clr-input-container>
      <label for="product-unity">Unidade Básica *</label>
      <input clrInput type="text" id="product-unity"
      placeholder="Kg..." formControlName="unity">
      <clr-control-error>Esse campo é obrigatório!</clr-control-error>
      </clr-input-container>

      <div class="toggle-switch">
        <input type="checkbox" id="active"
        formControlName="active">
        <label for="active"> Ativo</label>
        </div>
  </div>
</div>
  </clr-wizard-page>
  <clr-wizard-page *ngIf="!counting" >
  <ng-template clrPageTitle>Cadastrar Embalagens</ng-template>
  ...A ser implementado
  </clr-wizard-page>

</clr-wizard>

  </form>
