<form [formGroup]="productForm">
  <clr-wizard #productWizard [clrWizardOpen]="true"
  clrWizardSize="lg" (clrWizardOnCancel)="handleClose()">
  <clr-wizard-title>{{product && counting? 'Contar Produto'
                    : product? 'Editar Produto':
                     'Adicionar Novo Produto'}}</clr-wizard-title>
  <clr-wizard-button [type]="'cancel'" (click)="handleClose()">Cancelar</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Voltar</clr-wizard-button>
  <clr-wizard-button [clrWizardButtonDisabled]="isBasicInvalid" [type]="'next'">Próximo</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" (click)="handleFinish()">Finalizar</clr-wizard-button>

  <clr-wizard-page>
  <div formGroupName="basic">
    <ng-template clrPageTitle>Inventário de Produto</ng-template>
    <div *ngIf="counting">

      <clr-input-container>

        <label for="product-quant">Alterar Quantidade</label>
        <input clrInput type="text" id="product-quant"
        formControlName="quant" >

        </clr-input-container>



        <clr-input-container>
          <label for="product-countDate">Data da Contagem</label>
          <input clrInput type="text" id="product-countDate"
          formControlName="countDate">

          </clr-input-container>

    </div>
    <div *ngIf="!counting">
    <clr-input-container>
    <label for="product-name">Nome do produto *</label>
    <input clrInput type="text" id="product-name"
    placeholder="produto x..." formControlName="name">
    <clr-control-error>Esse campo é obrigatório!</clr-control-error>
    </clr-input-container>

    <clr-input-container>
      <label for="product-unity">Unidade Básica *</label>
      <input clrInput type="text" id="product-unity"
      placeholder="Kg..." formControlName="unity">
      <clr-control-error>Esse campo é obrigatório!</clr-control-error>
      </clr-input-container>

      <div class="toggle-switch">
        <input type="checkbox" id="active"
        formControlName="active">
        <label for="active"> Ativo</label>
        </div>
  </div>
</div>
  </clr-wizard-page>
  <clr-wizard-page *ngIf="!counting" >
  <ng-template clrPageTitle>Cadastrar Embalagens</ng-template>
  ...A ser implementado
  </clr-wizard-page>



</clr-wizard>

  </form>
