<h1>Produtos</h1>
<button mat-mini-fab color="accent" (click)="addProduct()" >
  <mat-icon>plus_one</mat-icon>
</button>

<clr-datagrid>
  <clr-dg-column>Contar</clr-dg-column>
<clr-dg-column clrDgField="name">Nome</clr-dg-column>
<clr-dg-column clrDgField="countDate">Data da contagem</clr-dg-column>
<clr-dg-column clrDgField="quant">Quantidade</clr-dg-column>
<clr-dg-column clrDgField="active">Active</clr-dg-column>
<clr-dg-row *clrDgItems="let product of products$ | async; trackBy
trackById"
[clrDgItem]="product">
<clr-dg-action-overflow [matMenuTriggerFor]="menu">
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onEdit(product)" class="action-item">
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
    <button mat-menu-item (click)="onDelete(product)" class="action-item">
      <mat-icon>delete</mat-icon>
      <span>Deletar</span>
    </button>

  </mat-menu>

  </clr-dg-action-overflow>

  <clr-dg-cell>
    <button mat-raised-button (click)="onCount(product)">Contar</button>
  </clr-dg-cell>
<clr-dg-cell>{{product.name}}</clr-dg-cell>
<clr-dg-cell>{{product.countDate}}</clr-dg-cell>
<clr-dg-cell >{{product.quant +" "+ product.unity}}</clr-dg-cell>
<clr-dg-cell>
<span class="label" [ngClass]="{'label-success':
product.active, 'label-danger':
!product.active}">{{product.active ?
'Active': 'Inactive'}}</span>
</clr-dg-cell>

</clr-dg-row>
<clr-dg-footer>
<clr-dg-pagination #pagination [clrDgPageSize]="10">
<clr-dg-page-size [clrPageSizeOptions]="[2,10,20,50]">Produtos
por pág</clr-dg-page-size>
{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
de {{pagination.totalItems}} produtos.</clr-dg-pagination>

</clr-dg-footer>
</clr-datagrid>

<spa-delete-product-modal
*ngIf="delete"
[product]="productToBeDeleted"
(cancel)="handleCancel()"
(confirm)="confirmDelete()"
></spa-delete-product-modal>

<spa-product-form
*ngIf="productOpen"
[product]="selectedProduct"
[counting]="counting"
(finish)="handleFinish($event)"
></spa-product-form>

